@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #a6916c;
  color: #2c1b18;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
